<p>
  <b>Filepicker url:</b>
  <%= filepicker_url %>
</p>

<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Plays:</b>
  <%= plays %>
</p>

<p>
  <b>Length:</b>
  <%= length %>
</p>


<a href="#/index">Back</a>